

@using AirOut.Web.Models

 
@model ApplicationRole

<tr>
    <td style="width:*;">@Model.Name</td>
    <td style="width:51px;">
        <form action="/management/roles/@Model.Id" method="get" class="form-inline" role="form">
            @Html.AntiForgeryToken()
            <input type="submit" value="删除" class="btn btn-danger" />
        </form>
    </td>
</tr>