




@model AirOut.Web.Models.BD_DEFDOC

@{
    ViewBag.Title = "BD_DEFDOC | Edit"  ;
}




<div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>BD_DEFDOC form<small> edit BD_DEFDOC</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                       

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@
    		<div class="form-horizontal">
	 
 
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
 
    
        @Html.Partial("EditForm")
 
		<div class="row">
        <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" type="reset">Cancel</button>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </div>
	    </div>

		 		</div>
		}
 </div>
        </div>
    </div>
</div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
	
    		var bd_defdocrowid = 0;
		var ObjectState = "Modified";   
                                 
             var $bd_defdoc_listdatagrid = $('#bd_defdoc_list_datagrid');
                        $(document).ready(function () {
				bd_defdocrowid = $('#ROWID', 'form').val();
                $('form').submit(function () {
					if (!$('form').valid())
						return false;
                    //var token = $('[name=__RequestVerificationToken]').val();
                    //var serializedForm = $(this).serialize();
                    var actionurl = $(this).attr('action');
                    						if (!bd_defdoc_list_endEditing())
								return false;                                         
                        var bd_defdoc_list = $bd_defdoc_listdatagrid.datagrid('getChanges');
                                         
                     var newitem = {
						

                                                        ADDTS: $('#ADDTS', 'form').val(),
                                                        ADDWHO: $('#ADDWHO', 'form').val(),
                        								//detailTables
                                BD_DEFDOC_LIST: bd_defdoc_list ,
                                                        DOCCODE: $('#DOCCODE', 'form').val(),
                                                        DOCNAME: $('#DOCNAME', 'form').val(),
                                                        EDITTS: $('#EDITTS', 'form').val(),
                                                        EDITWHO: $('#EDITWHO', 'form').val(),
                                                        REMARK: $('#REMARK', 'form').val(),
                        								//primaryKey   
								ROWID: bd_defdocrowid,
                                                ObjectState:ObjectState 
                    };
                    $.ajax({
                        url: actionurl,
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(newitem),
                        success: function (result) {
                            if (result.success) {
                                self.location = "/BD_DEFDOCs/Index";
                            } else {
                                alert(result.err);
                            }
                            
                        },
                        error: function (result) {
                            console.log(result.statusText + result.responseText);
                            alert(result.statusText + result.responseText);
                        }
                    });
                    return false;
                    

                });
            });
      
      </script>

}
