<div class="popupsearchform" id="div_PopupSetDefault">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label class="control-label ">表名</label>
                <div class="">
                    <input type="text" id="TableNameChs" placeholder="表名" maxlength="20" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label class="control-label ">列名</label>
                <div class="">
                    <input type="text" id="ColumnNameChs" placeholder="列名" maxlength="20" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function (e) {

    });
</script>